<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/users.css">
  </head>
  <body>
     <div class="card-container-user">
        <div class="card-user">
            <div class="card-image">
                <img src="https://media.licdn.com/dms/image/D4D03AQGuXJA3Ivalpw/profile-displayphoto-shrink_800_800/0/1681189256993?e=2147483647&v=beta&t=i_Wa_G4hGClvBn1RXY6iNl2l07pAhaXe8CWbGPQRxl8">
            </div>
            <div class="card-description">
                <h4>Oscar Byiringiro</h4>
                <span class="num_posts">Number of Posts: 10</span>
            </div>
        </div>
        
     </div>
  </body>
</html>
