<!-- index.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/users_posts.css">
  </head>
  <body>
    <section class="container-user-single">
        <div class="user-info">
            <div class="user-image">
                <img src="https://media.licdn.com/dms/image/D4D03AQGuXJA3Ivalpw/profile-displayphoto-shrink_800_800/0/1681189256993?e=2147483647&v=beta&t=i_Wa_G4hGClvBn1RXY6iNl2l07pAhaXe8CWbGPQRxl8">
            </div>
            <div class="user-name">
                <h4>Oscar Byiringiro</h4>
                <span class="num_posts">Number of Posts: 10</span>
            </div>
        </div>
        <div class="posts-container">
          <div class="single-post">
            <div class="post">
              <h4 class="title">come on </h4>
              <p class="desc">it is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of</p>
              <span>Comments: 2, Likes: 4</span>
            </div>
            <div class="comments">
              <p>Username: Comment 1</p>
              <p>Username: Comment 1</p>
              <p>Username: Comment 1</p>
              <p>Username: Comment 1</p>
              <p>Username: Comment 1</p>
            </div>
          </div>
          <div class="single-post">
            <div class="post">
              <h4 class="title">come on </h4>
              <p class="desc">it is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of</p>
              <span>Comments: 2, Likes: 4</span>
            </div>
            <div class="comments">
              <p>Username: Comment 1</p>
              <p>Username: Comment 1</p>
              <p>Username: Comment 1</p>
              <p>Username: Comment 1</p>
              <p>Username: Comment 1</p>
            </div>
          </div>
          <a href="#!" class="pagination-btn">Pagination</a>
        </div>
    </section>
  </body>
</html>
